* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.ttf');
}

body {
    background-color: #191411;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    width: 260px;
    height: 62px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
    color: #191411;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    outline: none;
    padding: 20px;
}
.button:hover {
    background: linear-gradient(96deg, #f97e03 0%, #ffbc05 100%);
    color: #000;
    border: 2px solid #fff;
    transition: 0.2s ease;
}

.common-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 64px;
    letter-spacing: 1.92px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
}

.main {
    background-image: url(../images/main_bg.png);
    background-position: top center;
    overflow: hidden;
}

.header {
    padding: 40px 0;
}

.header .container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 191px;
}
.logo img {
    vertical-align: bottom;
}
.menu {   
}
.menu-list {
    display: flex;
    list-style: none;
}
.menu-item {
    margin-right: 88px;
}

.menu-item a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.menu-item a:hover {
    color:chocolate;
    transition-duration: 0.5s;
}
.currency {
    width: 45px;
    height: 45px;
    padding: 11px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    font-size: 18px;
    user-select: none;
}

/* MAIN INFO */
.main-content {
    padding: 103px 0 200px 0;
}
.main-content .container {
    position: relative;
}

.main-info {
    max-width: 608px;
}
.main-small-info {
    background: #d3320f;
    display: inline-block;
    border-radius: 100px;
    padding: 12px 16px;
    font-size: 18px;
    
}
.main-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 120px;
    line-height: 130%; /* 156px */
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 56px;
}
.main-parapraph {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-image {
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);
}

/* WHY CHOOSE US */
.why {
    background-image: url('../images/WhyChooseUs/whybg.png');
    background-position: top center;
    background-size: initial;
    padding-bottom: 180px;
}

.why-items {
    margin-top: 60px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 312px);
    justify-content: center;
}
.why-item {
    text-align: center;
}
.why-item-image {
}

.why-item-title {
    font-size: 24px;
    line-height: 29px;
    padding: 24px;
  
}
.why-item-text {
    font-size: 16px;;
    line-height: 140%; /* 22.4px */
}

/* CHOOSE YOUR BURGER */
.products {
    background-image: url('../images/ChooseYourBurger/burgers_bg.png');
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 180px;
}
.products-title {
}
.products-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 24px;
    margin-top: 60px;
}
.products-item {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #353535;
    background: #211A16;
}
.products-item-image {
    height: 250px;
}

.products-item-image {
    max-width: 100%;
}
.products-item-title {
    font-size: 24px;
    line-height: 29px;
    margin: 24px 0;
}
.products-item-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
}
.products-item-extra {
    display: flex;
    justify-content: space-between;
}
.products-item-info {
}
.products-item-price {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;
}
.products-item-weight {
    color: #757575;
    font-size: 16px;
    line-height: 18px;
}
.products-item-action {
}
.button.product-button {
    display: flex;
    justify-content: center;
    width: 182px;
    height: 62px;
}

.button.product-button span:first-child {
    margin-right: 10px;
}

/* ORDER REGISTRATION */
.order {
    background-image: url('../images/OrderRegistration/order_bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 180px;
    overflow: hidden;
}

.order .container {
    position: relative;
}
.order-image {
    position: absolute;
    top: 0;
    right: calc(100% - 764px);
    z-index: -1;
}
.order-title {
}
.common-title {
}
.order-form {
    border-radius: 16px;
    border: 1px solid #353535;
    background: #211A16;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}
.order-form-text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.order-form-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.order-form-input {
    width: 344px;
    height: 62px;
    background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-form-input input {
    padding: 16px 10px;
    background: #211A16;
    border-radius: 8px;
    color: white;
    width: 342px;
    height: 60px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;  
}
.order-form-inputs .button {
    width: 344px;
    height: 62px;
}

/* FOOTER */
.footer {
    padding: 60px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}
.rights {
    font-size: 16px;
    line-height: 20px;
}







