* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.ttf');
}

body {
    background-color: #191411;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    width: 260px;
    height: 62px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
    color: #191411;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    outline: none;
    padding: 20px;
}
.button:hover {
    background: linear-gradient(96deg, #f97e03 0%, #ffbc05 100%);
    color: #000;
    border: 2px solid #fff;
    transition: 0.2s ease;
}

.main {
    background-image: url(../images/main_bg.png);
    background-position: top center;
    overflow: hidden;
}

.header {
    padding: 40px 0;
}

.header .container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 191px;
}
.logo img {
    vertical-align: bottom;
}
.menu {   
}
.menu-list {
    display: flex;
    list-style: none;
}
.menu-item {
    margin-right: 88px;
}

.menu-item a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.menu-item a:hover {
    color:chocolate;
    transition-duration: 0.5s;
}
.currency {
    width: 45px;
    height: 45px;
    padding: 11px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    font-size: 18px;
    user-select: none;
}

/* MAIN INFO */
.main-content {
    padding: 103px 0 200px 0;
}
.main-content .container {
    position: relative;
}

.main-info {
    max-width: 608px;
}
.main-small-info {
    background: #d3320f;
    display: inline-block;
    border-radius: 100px;
    padding: 12px 16px;
    font-size: 18px;
    
}
.main-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 120px;
    line-height: 130%; /* 156px */
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 56px;
}
.main-parapraph {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-image {
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);
}


